<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Samdesk</title>
  </head>
  <body>
    <h1>Samdesk Ticketing</h1>
    <table>
      <tbody id="table-body">
      </tbody>
    </table>

    <% tickets.forEach((ticket, index) => { %>
      <div>
        <a href=<%= `/tickets/${index}` %>>
        <%= ticket["subject"] %>
        </a>
      </div>
    <% }) %>

    <a href='/tickets/1'>click me</a>

    <div id="pagination"></div>
    <script async="async" type="text/javascript" src="UI.js"></script>
    <script async="async" type="text/javascript" src="data.js"></script>
  </body>
</html>
